:root {
    --lightest-main: #f7fee7;
    --lighter-main: #ecfccb;
    --light-main: #d9f99d;
    --midlo-main: #bef264;
    --mid-main: #a3e635;
    --midhi-main: #84cc16;
    --dark-main: #65a30d;
    --darker-main: #4d7c0f;
    --darkest-main: #3f6212;
    --black-main: #365314;

    --lightest-grey: #fafafa;
    --lighter-grey: #f5f5f5;
    --light-grey: #e5e5e5;
    --midlo-grey: #d4d4d4;
    --mid-grey: #a3a3a3;
    --midhi-grey: #737373;
    --dark-grey: #525252;
    --darker-grey: #404040;
    --darkest-grey: #262626;
    --black-grey: #171717;

    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


}

body {
    font-family: var(--system-ui);
    
    /* border-style: solid;
    border-color: red;
    border-width: 0.5px; */

    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: 256px 5fr;
    grid-template-rows: 128px 5fr;
    grid-template-areas: "nav header"
    "nav main";

    background-color: var(--lighter-grey);
}

p {
    margin: 0;
}

p.placeholder {
    background-image: url("placeholder.png");
    background-size: contain;
    border: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}


header {
    grid-area: header;
    background-color: var(--lighter-grey);
    height: 128px;
    color: var(--black-grey);
    /* border-style: solid;
    border-color: red;
    border-width: 0.5px; */

    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "search profile"
    "user-info buttons";

    padding: 24px 24px 24px 24px;
    font-size: 16px;
}


.search {
    grid-area: search;
    display: flex;
    align-items: center;
    gap: 16px;
}

.search input {
    width: 384px;
    height: 24px;
    border-radius: 16px;
}


.profile {
    grid-area: profile;
    display: flex;
    align-items: center;
    gap: 16px;
}

.user-info {
    grid-area: user-info;
    display: flex;
    align-items: center;
    gap: 16px;
}

.user-info > div > p:first-child {
    font-size: 12px;
}

.buttons {
    grid-area: buttons;
    display: flex;
    align-items: center;
    gap: 16px;
}

button {
    font-size: 16px;
    font-weight: 600;
    width: 96px;
    height: 32px;
    border-radius: 16px;
    font-family: inherit;
    color: var(--lightest-grey);
    background-color: var(--midhi-grey);
    border-color: var(--midhi-grey);
}

header .placeholder {
    color: yellow;
    width: 24px;
    height: 24px;
    overflow: hidden;
    border-style: solid;
}

nav {
    grid-area: nav;
    background-color: var(--lighter-grey);
    width: 192px;
    box-sizing: border-box;

    /* border-style: solid;
    border-color: red;
    border-width: 0.5px; */

    padding-top: 24px;
    padding-left: 24px;

    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    gap: 32px;
}

nav .placeholder {
    color: aliceblue;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-style: solid;
    background-size: contain;
}


nav > div > div {
    display: flex;
    gap: 12px;
    font-size: 16px;
    color: var(--dark-grey);
    align-items: center;
    padding-bottom: 12px;
}

.logo div {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color: var(--black-grey);
}

main {
    padding: 12px;
    
    grid-area: main;

    /* border-style: solid;
    border-color: red;
    border-width: 0.5px; */

    box-sizing: border-box;

    display: grid;
    grid-template-columns: 3fr 1fr;

    border-radius: 24px;
    background-color: var(--lightest-grey);
    box-shadow: 0px 4px 8px -4px inset;

}

.projects-container {
    /* border-style: solid;
    border-color: red;
    border-width: 0.5px; */
    background-color: var(--lightest-grey);

    padding: 16px;
    padding-top: 8px;

}

.projects {
    /* border-style: solid;
    border-color: red;
    border-width: 0.5px; */

}

main > div:last-child {
    /* border-style: solid;
    border-color: red;
    border-width: 0.5px; */

    display: flex;
    flex-direction: column;
}

main > div:last-child > * {
    /* border-style: solid;
    border-color: red;
    border-width: 0.5px; */

    flex: 1;
    box-sizing: border-box;

    display: flex;
}

main > div:last-child > * {
    padding: 8px;
    flex: 1;
}

main p {
    font-size: 16px;
}

h3 {
    font-size: 16px;
    color: var(--midhi-grey);
    padding-bottom: 12px;
    margin: 0;
    font-weight: normal;
}

.projects {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
    grid-template-rows: repeat(2, 1fr);
}

.projects > div > div {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.projects .placeholder {
    color: yellow;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-style: solid;
}

.project {
    padding: 16px;
    background-color: var(--lighter-grey);
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 8px 8px -4px;

    border-left-style: solid;
    border-left-width: 8px;
    border-left-color: var(--dark-grey);
    color: var(--black-grey);
}

.project .title {
    font-weight: 600;
    padding-bottom: 8px;
    font-size: 16px;
}

.project .content {
    font-size: 12px;
    padding-bottom: 8px;
    line-height: 16px;
}

.side-container {
    display: flex;
    flex-direction: column;
}

.side-container > * {
    flex: 1;
}

.side-container h3 {
    padding-bottom: 2px;
}

.announcements-container {
    display: flex;
    flex-direction: column;
}

.announcements {
    padding: 2px;
    border-radius: 8px;
    background-color: var(--lightest-grey);
    color: var(--black-grey);
}

.announcements > * {
    box-sizing: border-box;
}

.announcements .title {
    font-weight: bold;
    padding-bottom: 4px;
}

.announcements .content {
    font-size: 12px;
    padding-bottom: 8px;
    line-height: 16px;
}

.trending-container {
    display: flex;
    flex-direction: column;
}

.trending {
    display: flex;
    flex-direction: column;

    gap: 8px;

    padding: 2px;
    background-color: var(--lightest-grey);
    color: var(--black-grey);
    border-radius: 8px;
}

.trending .placeholder {
    color: yellow;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-style: solid;
}

.trending > div {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    gap: 8px;
}

.trending p.username {
    font-weight: bold;
}

.trending p.sub {
    font-size: 12px;
}

/* images */

nav img {
    width: 16px;
    filter: invert(30%);
}

.logo img {
    width: 32px;
    filter: invert(0%);
}


.search > p {
    background-image: url(images/magnify.png);
}

.profile > p:first-child {
    background-image: url(images/bell-outline.png);
}

.project > div > p:first-child {
    background-image: url(images/star-plus-outline.png);
}

.project > div > p:nth-child(2) {
    background-image: url(images/eye-plus-outline.png);
}

.project > div > p:last-child {
    background-image: url(images/source-fork.png);
}