:root {
    --light: #ecfccb;
    --medium: #bef264;
    --dark: #84cc16;
    --darker: #4d7c0f;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf");
}

body {
    font-family: 'Roboto';
    
    /* border-style: solid;
    border-color: red;
    border-width: 0.5px; */

    padding: 0;
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1.5fr 5fr;
    grid-template-areas: "nav header"
    "nav main";
}

p {
    margin: 0;
}

p.placeholder {
    background-image: url("placeholder.png");
    background-size: contain;
    border: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}


header {
    grid-area: header;
    background-color: var(--light);
    min-height: 250px;

    /* border-style: solid;
    border-color: red;
    border-width: 0.5px; */

    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "search profile"
    "user-info buttons";

    padding: 40px;
    font-size: 2rem;
}

.search {
    grid-area: search;
    display: flex;
    align-items: center;
    gap: 30px;
}

.search input {
    width: 720px;
    height: 45px;
    border-radius: 30px;
}


.profile {
    grid-area: profile;
    display: flex;
    align-items: center;
    gap: 30px;
}

.user-info {
    grid-area: user-info;
    display: flex;
    align-items: center;
    gap: 30px;
}

.user-info > div > p:first-child {
    font-size: 1.5rem;
}

.buttons {
    grid-area: buttons;
    display: flex;
    align-items: center;
    gap: 30px;
}

button {
    font-size: 24px;
    width: 140px;
    height: 60px;
    border-radius: 30px;
}

header .placeholder {
    color: yellow;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-style: solid;
}

nav {
    grid-area: nav;
    background-color: var(--darker);
    min-width: 300px;
    box-sizing: border-box;

    /* border-style: solid;
    border-color: red;
    border-width: 0.5px; */

    padding-top: 30px;
    padding-left: 40px;

    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    gap: 75px;
}

nav .placeholder {
    color: aliceblue;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-style: solid;
    background-size: contain;
}

nav > div > div {
    display: flex;
    gap: 20px;
    font-size: 2rem;
    align-items: center;
}

main {
    grid-area: main;

    /* border-style: solid;
    border-color: red;
    border-width: 0.5px; */

    box-sizing: border-box;

    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects-container {
    /* border-style: solid;
    border-color: red;
    border-width: 0.5px; */
    background-color: var(--medium);

    padding: 32px;

}

.projects {
    /* border-style: solid;
    border-color: red;
    border-width: 0.5px; */

}

main > div:last-child {
    /* border-style: solid;
    border-color: red;
    border-width: 0.5px; */

    display: flex;
    flex-direction: column;
}

main > div:last-child > * {
    /* border-style: solid;
    border-color: red;
    border-width: 0.5px; */

    flex: 1;
    box-sizing: border-box;

    display: flex;
}

main > div:last-child > * {
    padding: 32px;
    flex: 1;
}

main p {
    font-size: 2rem;
}

.projects {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(512px, 1fr));
    grid-template-rows: repeat(2, 1fr);
}

.projects > div > div {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.projects .placeholder {
    color: yellow;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-style: solid;
}

.project {
    padding: 16px;
    background-color: var(--dark);
    box-sizing: border-box;
    border-radius: 16px;

    border-left-style: solid;
    border-left-width: 16px;
    border-left-color: var(--darker);
}

.project .title {
    font-weight: bold;
}

.project .content {
    font-size: 1.5rem;
}

.side-container {
    display: flex;
    flex-direction: column;

    background-color: var(--medium);
}

.side-container > * {
    flex: 1;
}

.announcements-container {
    display: flex;
    flex-direction: column;
}

.announcements {

    padding: 16px;
    background-color: var(--dark    );
    border-radius: 16px;
}

.announcements > * {

}

.announcements .title {
    font-weight: bold;
}

.announcements .content {
    font-size: 1.5rem;
}

.trending-container {
    display: flex;
    flex-direction: column;
}

.trending {
    display: flex;
    flex-direction: column;

    gap: 16px;

    padding: 16px;
    background-color: var(--dark);
    border-radius: 16px;
}

.trending .placeholder {
    color: yellow;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-style: solid;
}

.trending > div {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    gap: 16px;
}

.trending p.username {
    font-weight: bold;
}

.trending p.sub {
    font-size: 1.5rem;
}

/* images */

.logo.placeholder {
    background-image: url(images/lemon.png);
}

.home.placeholder {
    background-image: url(images/home.png);
}

.profile.placeholder {
    background-image: url(images/card-account-mail-outline.png);
}

.messages.placeholder {
    background-image: url(images/message.png);
}

.history.placeholder {
    background-image: url(images/clock-outline.png);
}

.tasks.placeholder {
    background-image: url(images/file-multiple-outline.png);
}

.communities.placeholder {
    background-image: url(images/account-group.png);
}

.settings.placeholder {
    background-image: url(images/cog.png);
}

.supports.placeholder {
    background-image: url(images/help-circle.png);
}

.privacy.placeholder {
    background-image: url(images/shield-check.png);
}

.search > p {
    background-image: url(images/magnify.png);
}

.profile > p:first-child {
    background-image: url(images/bell-outline.png);
}

.project > div > p:first-child {
    background-image: url(images/star-plus-outline.png);
}

.project > div > p:nth-child(2) {
    background-image: url(images/eye-plus-outline.png);
}

.project > div > p:last-child {
    background-image: url(images/source-fork.png);
}